<%- include('partials/header', {title: 'Registration Page'}) %>

<h1>Register</h1>
<form action="/register" method="POST" class="form-container">

  <label for="name">Name</label>
  <input type="text" name="name" id="name" >

  <label for="email">Email</label>
  <input type="text" name="email" id="email" >

  <label for="password">Password</label>
  <input type="password" name="password" id="password" >

  <label for="confirm_password">Confirm Password</label>
  <input type="password" name="confirm_password" id="confirm_password">


  <% if (typeof errors !== 'undefined' && errors.length > 0) { 
      errors.forEach((err) => {
  %>
      <p style="color: red;"><%= JSON.stringify(err.msg) %></p>
  <% 
      }) //forEach
    } //if
  %>
  
  <button type="submit" class="submit-btn">Register</button>
</form>

<%- include('partials/footer') %>
